<footer id="footer">
	<div class="container">
	</div>
	<div class="copyright">
		<div class="container">
			<ul class="pull-right nomargin list-inline mobile-block">
				<li><a href="#">Terms &amp; Conditions</a></li>
				<li>&bull;</li>
				<li><a href="#">Privacy</a></li>
			</ul>
			&copy; Distributor AC Gree
		</div>
	</div>
</footer>
<!-- /FOOTER -->

</div>
<!-- /wrapper -->


<!-- SCROLL TO TOP -->
<a href="#" id="toTop"></a>


<!-- PRELOADER -->
<div id="preloader">
<div class="inner">
	<span class="loader"></span>
</div>
</div><!-- /PRELOADER -->

<script type="text/javascript">var plugin_path = '<?= base_url()?>assets2/plugins/';</script>
<script type="text/javascript" src="<?= base_url()?>assets2/plugins/jquery/jquery-2.2.3.min.js"></script>

<script type="text/javascript" src="<?= base_url()?>assets2/js/scripts.js"></script>

<!-- STYLESWITCHER - REMOVE -->
<script async type="text/javascript" src="<?= base_url()?>demo_files/styleswitcher/styleswitcher.js"></script>
</body>
</html>
