<!-- TOP NAV -->
<header id="topNav">
	<div class="container">

		<!-- Mobile Menu Button -->
		<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
			<i class="fa fa-bars"></i>
		</button>


		<!-- Logo -->
		<a class="logo pull-left" href="<?php echo base_url(); ?>">
			<img src="<?php echo base_url(); ?>assets/images/front/logo_dark.png" alt="" /> <!-- light logo -->
			<img src="<?php echo base_url(); ?>assets/images/front/logo_dark.png" alt="" /> <!-- dark logo -->
		</a>

		<!-- 
			Top Nav 
			
			AVAILABLE CLASSES:
			submenu-dark = dark sub menu
		-->
		<div class="navbar-collapse pull-right nav-main-collapse collapse submenu-dark">
			<nav class="nav-main">

				<!--
					NOTE
					
					For a regular link, remove "dropdown" class from LI tag and "dropdown-toggle" class from the href.
					Direct Link Example: 

					<li>
						<a href="#">HOME</a>
					</li>
				-->
				<ul id="topMain" class="nav nav-pills nav-main">
					<li><!-- HOME -->
						<a href="<?php echo base_url(); ?>">
							HOME
						</a>
						
					</li>
					<li id="menu-gallery">
						<a class="dropdown-toggle" href="#">
							GALLERY
						</a>
						<ul class="dropdown-menu">
							<li >
								<a class="dropdown-toggle" href="#">
									<i class="et-camera"></i> IMAGE
								</a>
							</li>
							<li>
								<a class="dropdown-toggle" href="#">
									<i class="icon-googleplay"></i> VIDEO
								</a>
							</li>
						</ul>
						
					</li>
					<li id="menu-course"><!-- FEATURES -->
						<a href="<?php echo base_url(); ?>course">
							COURSE
						</a>
						
					</li>
					<li id="menu-mybook"><!-- HOME -->
						<a href="#">
							MY BOOK
						</a>
					</li>
					<li id="menu-link"><!-- HOME -->
						<a href="#">
							LINK
						</a>
					</li>
				
				</ul>

			</nav>
		</div>

	</div>
</header>
<!-- /Top Nav -->