<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>AC GREE ID - DISTRIBUTOR AC JAKARTA - INDONESIA</title>
		<meta name="description" content="AC GREE" />
		<meta name="Author" content="PT Son Duct Sejahtera" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
		<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

		<!-- WEB FONTS : use %7C instead of | (pipe) -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700" rel="stylesheet" type="text/css" />

		<!-- CORE CSS -->
		<link href="<?= base_url()?>assets2/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

		<!-- THEME CSS -->
		<link href="<?= base_url()?>assets2/css/essentials.css" rel="stylesheet" type="text/css" />
		<link href="<?= base_url()?>assets2/css/layout.css" rel="stylesheet" type="text/css" />

		<!-- PAGE LEVEL SCRIPTS -->
		<link href="<?= base_url()?>assets2/css/header-1.css" rel="stylesheet" type="text/css" />
		<!-- <link href="<?= base_url()?>assets2/datatables/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css" /> -->
		<link href="<?= base_url()?>assets2/datatables/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />

		<link href="<?= base_url()?>assets2/css/color_scheme/green.css" rel="stylesheet" type="text/css" id="color_scheme" />
		
		<link rel="shortcut icon" type="image/png" href="<?= base_url()?>assets2/images/favicon.png"/>

		<style type="text/css">
			#footer>.container {
				padding-top: 0px;
				margin-bottom: 0px;
			}
		</style>
	</head>
	<body class="smoothscroll enable-animation">
		<div id="wrapper">

			<div id="header" class="sticky clearfix">

				<header id="topNav">
					<div class="container">

						<!-- Mobile Menu Button -->
						<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
							<i class="fa fa-bars"></i>
						</button>

						

						<!-- Logo -->
						<a class="logo pull-left" href="index.html">
							<img src="<?php echo base_url();?>assets2/images/logo.jpg" alt="ac gree" />
						</a>

						<!--
							Top Nav

							AVAILABLE CLASSES:
							submenu-dark = dark sub menu
						-->
						<div class="navbar-collapse pull-right nav-main-collapse collapse">
							<nav class="nav-main">
								<!--
									NOTE

									For a regular link, remove "dropdown" class from LI tag and "dropdown-toggle" class from the href.
									Direct Link Example:

									<li>
										<a href="#">HOME</a>
									</li>
								-->
								<ul id="topMain" class="nav nav-pills nav-main">
									<li class="active">
										<a href="<?= base_url()?>" title="Home">HOME</a>
									</li>
									<li>
										<a href="<?= base_url('tentang')?>" title="Tentang">TENTANG KAMI</a>
									</li>
									<li>
										<a href="<?= base_url('produk')?>" title="Produk">PRODUK AC GREE</a>
									</li>
									<li>
										<a href="<?= base_url('pengalaman')?>" title="Pengalaman">PENGALAMAN</a>
									</li>
									<li>
										<a href="<?= base_url('kontak')?>" title="Kontak">KONTAK KAMI</a>
									</li>
								</ul>

							</nav>
						</div>

					</div>
				</header>
				<!-- /Top Nav -->

			</div>