<?php $this->load->view('public/header.html')?>
	<div class="container">
	   <section>
				<div class="container">
					
					<div class="row">
					
						<div class="col-lg-5 col-md-5 col-sm-5">

							<img class="img-responsive" src="<?php echo base_url(); ?>assets2/images/sonduct-logo.jpg" alt="">

						</div>

						<div class="col-lg-7 col-md-7 col-sm-7">
							<h2>Pengalaman</h2>
<p>PT. Son Duct Sejahtera adalah kontraktor mekanikal, khususnya dibidang HVAC. Kami juga adalah distributor AC merk Gree, yang fokus menjual unit pendingin untuk proyek proyek bangunan.</p>

						</div>

					</div>
					
				</div>
			</section>
	</div>
<?php $this->load->view('public/footer.html')?>
