<?php $this->load->view('public/header.html')?>

	<div class="container">
	   <section>
				<div class="container">
				<h2>Produk Kami</h2>
				 <div class="row">
					 	<div class="col-sm-6 col-md-4">
					    <div class="thumbnail">
					      <img src="<?= base_url('assets2/images/low watt.png')?>" alt="...">
					      <div class="caption">
					        <h3>
					        	<a href="<?= base_url('produk/detail/1')?>">AC Gree C3 Deluxe Low Watt</a>
					        </h3>
					        <p>Kami menjual AC Gree split Deluxe Low Watt (C3 Series) dengan harga yang cukup terjangkau. 
								bagi para konsumen AC. Produk Air Conditioner (AC) / pendingin ruangan yang kami jual memiliki kualitas baik di kelasnya
							</p>
					        <p>
											<a class="box-icon-more font-lato weight-300" href="<?= base_url('produk/detail/1')?>">Selengkapnya</a>
									</p>
					      </div>
					    </div>
				  	</div>
						<div class="col-sm-6 col-md-4">
						<div class="thumbnail">
							<img src="<?= base_url('assets2/images/split.jpg')?>" alt="...">
							<div class="caption">
								<h3><a href="<?= base_url('produk/detail/2')?>">AC Gree Split Duct</a></h3>
								<p>AC Gree Split Duct memiliki beberapa kelebihan dibanding dengan jenis AC lainnya. Unit tipe duct split ini merupakan pendingin udara tipe duct split yang mempunyai kapasitas yang lebih tinggi untuk lokasi komersil atau gedung-gedung besar</p>
								<p>
										<a class="box-icon-more font-lato weight-300" href="<?= base_url('produk/detail/2')?>">Selengkapnya</a>
								</p>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4">
					 <div class="thumbnail">
						 <img src="<?= base_url('assets2/images/carsette.jpg')?>" alt="...">
						 <div class="caption">
							 <h3><a href="<?= base_url('produk/detail/3')?>">AC Gree Cassette</a></h3>
							 <p>AC cassette merupakan solusi pendinginan untuk ruangan kantor dan lainnya yang membuat interior kantor tetap rapi namun suhu dingin ruangan tetap terjaga</p>
							 <p>
								 <a class="box-icon-more font-lato weight-300" href="<?= base_url('produk/detail/3')?>">Selengkapnya</a>
							 </p>
						 </div>
					 </div>
				 </div>
				 </div>
				 				 <div class="row">
					 	<div class="col-sm-6 col-md-4">
					    <div class="thumbnail">
					      <img src="<?= base_url('assets2/images/vrf.gif')?>" alt="...">
					      <div class="caption">
					        <h3><a href="<?= base_url('produk/detail/4')?>">AC Gree VRF System</a></h3>
					        <p></p>
					        <p>
											<a class="box-icon-more font-lato weight-300" href="<?= base_url('produk/detail/4')?>">Selengkapnya</a>
									</p>
					      </div>
					    </div>
				  	</div>
						<div class="col-sm-6 col-md-4">
						<div class="thumbnail">
							<img src="<?= base_url('assets2/images/chiller.jpg')?>" alt="...">
							<div class="caption">
								<h3><a href="<?= base_url('produk/detail/5')?>">Chiller Unit</a></h3>
								<p></p>
								<p>
										<a class="box-icon-more font-lato weight-300" href="<?= base_url('produk/detail/5')?>">Selengkapnya</a>
								</p>
							</div>
						</div>
					</div>
				 </div>
				</div>
			</section>
	</div>

		<?php $this->load->view('public/footer.html')?>
