<?php $this->load->view('public/header.html')?>
			<!--
				SLIDER

				.height-300
				.height-350
				.height-400
				.height-450
				.height-500
				.height-550
				.height-600
				.height-650
				.height-700
				.height-750
				.height-800
			-->
	<div class="container">
       <section>
				<div class="container">
					
					<div class="row">
					
						<div class="col-lg-5 col-md-5 col-sm-5">

							<img class="img-responsive" src="demo_files/images/girl_looking-min.jpg" alt="">

						</div>

						<div class="col-lg-7 col-md-7 col-sm-7">
							<h2>Tentang Kami</h2>
<p>PT. Son Duct Sejahtera adalah kontraktor mekanikal, khususnya dibidang HVAC. Kami juga adalah distributor AC merk Gree, yang fokus menjual unit pendingin untuk proyek proyek bangunan.</p>

						</div>

					</div>
					
				</div>
			</section>
    </div>

		<?php $this->load->view('public/footer.html')?>
