<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Yufiarti Blog</title>
		<meta name="description" content="" />
		<meta name="Author" content="Dorin Grigoras [www.stepofweb.com]" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
		<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

		<!-- WEB FONTS : use %7C instead of | (pipe) -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700" rel="stylesheet" type="text/css" />

		<!-- CORE CSS -->
		<link href="<?php echo base_url(); ?>assets2/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		
		<!-- THEME CSS -->
		<link href="<?php echo base_url(); ?>assets2/css/essentials.css" rel="stylesheet" type="text/css" />
		<link href="<?php echo base_url(); ?>assets2/css/layout.css" rel="stylesheet" type="text/css" />

		<!-- PAGE LEVEL SCRIPTS -->
		<link href="<?php echo base_url(); ?>assets2/css/header-1.css" rel="stylesheet" type="text/css" />
		<link href="<?php echo base_url(); ?>assets2/css/color_scheme/green.css" rel="stylesheet" type="text/css" id="color_scheme" />
	</head>

	<!--
		AVAILABLE BODY CLASSES:
		
		smoothscroll 			= create a browser smooth scroll
		enable-animation		= enable WOW animations

		bg-grey					= grey background
		grain-grey				= grey grain background
		grain-blue				= blue grain background
		grain-green				= green grain background
		grain-blue				= blue grain background
		grain-orange			= orange grain background
		grain-yellow			= yellow grain background
		
		boxed 					= boxed layout
		pattern1 ... patern11	= pattern background
		menu-vertical-hide		= hidden, open on click
		
		BACKGROUND IMAGE [together with .boxed class]
		data-background="<?php echo base_url(); ?>assets2/images/_smarty/boxed_background/1.jpg"
	-->
	<body class="smoothscroll enable-animation">

		<!-- wrapper -->
		<div id="wrapper">

			<!-- 
				AVAILABLE HEADER CLASSES

				Default nav height: 96px
				.header-md 		= 70px nav height
				.header-sm 		= 60px nav height

				.noborder 		= remove bottom border (only with transparent use)
				.transparent	= transparent header
				.translucent	= translucent header
				.sticky			= sticky header
				.static			= static header
				.dark			= dark header
				.bottom			= header on bottom
				
				shadow-before-1 = shadow 1 header top
				shadow-after-1 	= shadow 1 header bottom
				shadow-before-2 = shadow 2 header top
				shadow-after-2 	= shadow 2 header bottom
				shadow-before-3 = shadow 3 header top
				shadow-after-3 	= shadow 3 header bottom

				.clearfix		= required for mobile menu, do not remove!

				Example Usage:  class="clearfix sticky header-sm transparent noborder"
			-->
			<div id="header" class="sticky clearfix">

				<?php $this->load->view('public/header.html'); ?>
			
			</div>
			

			<!-- 
				PAGE HEADER 
				
				CLASSES:
					.page-header-xs	= 20px margins
					.page-header-md	= 50px margins
					.page-header-lg	= 80px margins
					.page-header-xlg= 130px margins
					.dark			= dark page header

					.shadow-before-1 	= shadow 1 header top
					.shadow-after-1 	= shadow 1 header bottom
					.shadow-before-2 	= shadow 2 header top
					.shadow-after-2 	= shadow 2 header bottom
					.shadow-before-3 	= shadow 3 header top
					.shadow-after-3 	= shadow 3 header bottom
			-->
			<section class="page-header dark page-header-xs">
				<div class="container">

					<h1>KATEGORI</h1>

					<!-- breadcrumbs -->
					<ol class="breadcrumb">
						<li><a href="<?php echo base_url(); ?>">Home</a></li>
						<li class="active"><a href="#">Course</a></li>
						
					</ol><!-- /breadcrumbs -->

				</div>
			</section>
			<!-- /PAGE HEADER -->

			<!-- -->
			<section>
				<div class="container">

					<div class="row">

				<?php 
					if(!empty($list_kat_artikel))
					{
						$list_result = $list_kat_artikel->result();
						foreach($list_result as $row)
						{
				?>
						<!-- POST ITEM -->
						<div class="blog-post-item col-md-4 col-sm-4">

							<!-- IMAGE -->
							<figure class="margin-bottom-20">
								<img class="img-responsive" src="<?php echo base_url(); ?>assets/images/kategori/<?php echo $row->img_kat_artikel; ?>" alt="">
							</figure>

							<h2><a href="<?php echo base_url(); ?>kategori/<?php echo $row->nama_url; ?>"><?php echo $row->nama_kat_artikel; ?></a></h2>

							
							<p><?php echo $row->ket_kat_artikel; ?></p>

							<!--<a href="blog-single-default.html" class="btn btn-reveal btn-default">
								<i class="fa fa-plus"></i>
								<span>Read More</span>
							</a>-->

						</div>
						<!-- /POST ITEM -->
				<?php
						}
					}
				?>
					</div>


					<!-- PAGINATION -->
					<!--<div class="text-left">
						
						<ul class="pagination nomargin">
							<li><a href="#">&laquo;</a></li>
							<li class="active"><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
							<li><a href="#">&raquo;</a></li>
						</ul>
					
					</div>
					<!-- /PAGINATION -->
				</div>
			</section>
			<!-- / -->

			<?php $this->load->view('public/footer.html');  ?>

		</div>
		<!-- /wrapper -->


		<!-- SCROLL TO TOP -->
		<a href="#" id="toTop"></a>


		<!-- PRELOADER -->
		<div id="preloader">
			<div class="inner">
				<span class="loader"></span>
			</div>
		</div><!-- /PRELOADER -->


		<!-- JAVASCRIPT FILES -->
		<script type="text/javascript">var plugin_path = '<?php echo base_url(); ?>assets2/plugins/';</script>
		<script type="text/javascript" src="<?php echo base_url(); ?>assets2/plugins/jquery/jquery-2.2.3.min.js"></script>

		<script type="text/javascript" src="<?php echo base_url(); ?>assets2/js/scripts.js"></script>
		
		<script type="text/javascript">
			$(document).ready(function()
			{	
				$("#menu-course").attr('class', 'active');
				
				//alert("ddd");
			});
		
		</script>
		
		
		<!-- STYLESWITCHER - REMOVE -->
		<!--<script async type="text/javascript" src="<?php echo base_url(); ?>assets2/styleswitcher/styleswitcher.js"></script>-->
	</body>
</html>